@import url("https://raw.githubusercontent.com/Mono-Code-Scheme/discord/refs/heads/main/themes/base.css");

:root{
    --accent-1: var(--neon-green-1);
    --accent-2: var(--neon-green-2);
    --accent-3: var(--neon-green-3);
    --accent-4: var(--neon-green-4);
    --accent-5: var(--neon-green-5);
}

body{
    --dms-background-image-url: url("https://raw.githubusercontent.com/Mono-Code-Scheme/discord/refs/heads/main/assets/Dms-NeonGreen.png");
}